header.header {
   background-color: #fff;
   padding: 0px 15px;
   overflow: hidden;
   white-space: nowrap;
   background-color: var(--light);
}

header.header h1 {
   font-size: 1.8em;
   font-weight: 700;
   color: var(--black);
}
